<span class="FormTitleStyle">{{formTitle}}</span>
<md-card>
  <div class="flex-container" fxLayout="column" fxLayoutAlign="left top">
    <div class="flex-item" fxFlex="20%">
      <md-card-content>
        <md-input-container>
          <input mdInput type="text" class="name" placeholder="Name" [(ngModel)]="product.name" (keyup)="disabilityStatus()"/>
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" class="code" placeholder="Code" [(ngModel)]="product.code" (keyup)="disabilityStatus()"/>
        </md-input-container>
        <md-input-container>
          <input mdInput type="number" class="size" placeholder="size" [(ngModel)]="product.size" (keyup)="disabilityStatus()"/>
        </md-input-container>
        <md-select placeholder="Measuring Units" class="measuringUnit" [(ngModel)]="product.measuringUnit" (change)="disabilityStatus()">
          <md-option *ngFor="let mu of measuringUnits" [value]="mu">{{mu}}</md-option>
        </md-select>
        <div>
          <span>Preparation Unit</span>
          <md-radio-group class="prepUnitId" [(ngModel)]="product.prep_unit_id" (change)="disabilityStatus()">
            <div *ngFor="let pu of prepUnits">
              <md-radio-button [value]="pu.id">{{pu.name}}</md-radio-button>
              <br/>
            </div>
          </md-radio-group>
        </div>
      </md-card-content>
    </div>
    <div class="flex-item" fxFlex="70%">
      <md-card-content *ngIf="hasCountingRuleError">
        <label class="errorMessage">{{countingRuleError}}</label>
      </md-card-content>
      <md-card-content>
        <app-counting-rule [(coefficients)]="product.coefficients"
                           [(minQty)]="product.minQty"
                           [(maxQty)]="product.maxQty"
                           [(recursionRule)]="product.countingRecursion"
                           (hasError)="countingRuleErrorHandler($event)"></app-counting-rule>
      </md-card-content>
    </div>
    <div class="flex-item" fxFlex="10%">
      <md-card-content>
        <button md-raised-button *ngIf="isAdd" class="ButtonStyle addBtn" (click)="actionEmitter(ae.add)" [(disabled)]="addIsDisable" id="addBtn">Add</button>
        <button md-raised-button *ngIf="!isAdd" class="ButtonStyle updateBtn" (click)="actionEmitter(ae.update)" [(disabled)]="updateIsDisable" id="updateBtn">Update</button>
        <button md-raised-button *ngIf="!isAdd" class="ButtonStyle deleteBtn" (click)="actionEmitter(ae.delete)" [(disabled)]= "deleteIsDisable" id="deleteBtn">Delete</button>
      </md-card-content>
    </div>
  </div>
</md-card>
<br/>
