<md-card style="background-color: #607D8B; border-radius: 7px; text-align: left; margin: 10px;">
 <md-card-title class="cardTitle">Products</md-card-title>
  <md-tab-group class="materialTab" [selectedIndex]="selectedIndex">
    <md-tab label="Add">
      <md-card class="innerCard">
        <app-product-sub-form [isAdd]="true" [isAdding]="isAdding" [actionIsSuccess]="actionIsSuccess" (action)="doClickedAction($event)"></app-product-sub-form>
      </md-card>
    </md-tab>
    <md-tab label="Modify">
      <md-card class="innerCard">
        <md-card-content>
          <md-input-container style="width: 100%;">
            <input mdInput type="text" class="pnc" placeholder="Product name/code" [mdAutocomplete]="auto" [formControl]="productModelCtrl" #autoNameCode (focus)="showProductList($event)"/>
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let nameCode of filteredNameCode | async" [value]="nameCode">
                {{nameCode}}
              </md-option>
            </md-autocomplete>
          </md-input-container>
        </md-card-content>
        <app-product-sub-form *ngIf="isFiltered" [isAdd]="false" [actionIsSuccess]="actionIsSuccess" [productModel]="filteredProductModel" (action)="doClickedAction($event)"></app-product-sub-form>
      </md-card>
    </md-tab>
  </md-tab-group>
</md-card>
