<md-card style="background-color: #607D8B; border-radius: 7px; text-align: left; margin: 10px;">
  <span class="SpanStyle">Products</span>
  <md-card style="background-color: white; padding: 10px;">
    <app-product-sub-form [isAdd]="true" [isAdding]="isAdding" [actionIsSuccess]="actionIsSuccess" (action)="doClickedAction($event)"></app-product-sub-form>
    <app-product-sub-form *ngFor="let pm of productModels" [isAdd]="false" [actionIsSuccess]="actionIsSuccess" [productModel]="pm" (action)="doClickedAction($event)"></app-product-sub-form>
  </md-card>
</md-card>
