<md-card style="width: 700px; background-color: #607D8B; border-radius: 7px; text-align: left;">
  <span class="SpanStyle">Branches and Preparation Units</span>
  <md-card style="background-color: white; width: 630px; padding: 10px;">
    <app-sub-form [isAdd]="true" [isAdding]="isAdding" [actionIsSuccess]="actionIsSuccess" (action)="doClickedAction($event)"></app-sub-form>
    <app-sub-form *ngFor="let um of unitModels" [isAdd]="false" [actionIsSuccess]="actionIsSuccess" [unitModel]="um" (action)="doClickedAction($event)"></app-sub-form>
  </md-card>
</md-card>