.OuterDivStyle{
  background-color: #607D8B;
  width: 700px;
  padding: 10px;
  border-radius: 7px;
  text-align: left;
  margin-left: 3px
}

.InnerDivStyle{
  background-color: white;
  width: 90%;
  padding: 10px;
  margin-left: 2%;
}
.SpanStyle{
  font-size: x-large;
  font-weight: bold ;
  margin-left: 7px;
}
