<md-toolbar color="primary" style="font-weight:200;font-size:100%">
  <span><a style="font-weight:400;font-size:120%" class="toolbar" [routerLink]="['']">Burgista Internal Delivery</a></span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="!auth"><a  class="toolbar" [routerLink]="['login']"><span class="fa fa-sign-in"></span> Login</a></span>
  <span *ngIf="auth"><a  class="toolbar" (click)="logout()">{{user}} <i class="fa fa-sign-out"></i> Logout</a></span>
</md-toolbar>
<nav *ngIf="auth" md-tab-nav-bar>
  <a md-tab-link [routerLink]="['units']" routerLinkActive #unitsLink="routerLinkActive" [active]="unitsLink.isActive">Units</a>
  <a md-tab-link [routerLink]="['products']" routerLinkActive #productsLink="routerLinkActive" [active]="productsLink.isActive">Products</a>
  <a md-tab-link [routerLink]="['override']" routerLinkActive #overrideLink="routerLinkActive" [active]="overrideLink.isActive">Override Rules</a>
</nav>
