<md-card style="background-color: #607D8B; border-radius: 7px; text-align: left; margin: 10px;">
  <md-card-title class="cardTitle">{{unitName}} Inventory</md-card-title>
  <md-card class="innerCard">
    <div class="flex-container"
         fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
         fxLayoutAlign="center center" fxLayoutAlign.xs="start start" fxLayoutAlign.sm="start start">
      <md-card-title class="flex-item" fxFlex="70">To Do: Inventory Takings</md-card-title>
      <material-datepicker class="flex-item" fxFlex="30" [(date)]="selectedDate" (onSelect)="dateChanged()">
      </material-datepicker>
    </div>
    <md-card-content>
      <md-card style="overflow: auto;">
        <md-card-content>
          <table class="table">
            <thead>
              <tr>
                <td class="buttonItem">&nbsp;</td>
                <td class="inputItem">Unopened Packs</td>
                <td class="codeItem">Code</td>
                <td class="nameItem">Product</td>
                <td style="min-width: 80px !important;" class="column">Last Count</td>
              </tr>
            </thead>
            <tbody *ngIf="inventoryModel !== null && inventoryModel !== undefined && inventoryModel._inventories.length > 0">
              <tr *ngFor="let invItem of inventoryModel._inventories" [@itemState]="invItem.state">
                  <td class="buttonItem" *ngIf="invItem.shouldIncluded">&nbsp;</td>
                  <td class="buttonItem" *ngIf="!invItem.shouldIncluded">
                    <button md-mini-fab (click)="removeInventoryItem(invItem)"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </td>
                  <td class="inputItem">
                    <md-input-container>
                      <input mdInput type="number" [(ngModel)]="invItem.unopenedPack" placeholder="Unopened Packs"
                             (ngModelChange)="checkDisability()"
                             [disabled]="!isSameDates"
                             [ngClass]="[(!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']"/>
                    </md-input-container>
                  </td>
                  <td class="codeItem"
                                [ngClass]="[(!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                    {{invItem.productCode}}
                  </td>
                  <td class="nameItem"
                                [ngClass]="[(!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                    {{invItem.productName}}
                  </td>
                  <td class="column"
                                *ngIf="invItem.lastCount !== null"
                                [ngClass]="[(!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                    {{invItem.lastCount | date: 'd MMM yy'}}
                  </td>
                  <td style="min-width: 80px !important;" class="column"
                                *ngIf="invItem.lastCount === null"
                                [ngClass]="[(!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                    -
                  </td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <tr *ngIf="isSameDates">
              <td class="buttonItem">&nbsp;</td>
              <td class="inputItem">
                <md-input-container>
                  <input mdInput type="number" placeholder="Unopened Packs" #unopenedPack/>
                </md-input-container>
              </td>
              <td class="inputItem" colspan="2">
                <md-input-container>
                  <input mdInput type="text" class="pnc" placeholder="Product name/code" [mdAutocomplete]="auto" [formControl]="productNameCodeCtrl" #autoNameCode (focus)="showProductList()"/>
                  <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let nameCode of filteredNameCode | async" [value]="nameCode">
                      {{nameCode}}
                    </md-option>
                  </md-autocomplete>
                </md-input-container>
              </td>
              <td style="min-width: 80px !important;" class="column">
              </td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
    </md-card-content>
    <md-card-content>
      <button md-raised-button class="ButtonStyle"
              *ngIf="isSameDates"
              [(disabled)]="submitShouldDisabled"
              (click)="submitInventories()">Submit</button>
    </md-card-content>
  </md-card>
</md-card>
