<md-card style="background-color: #607D8B; border-radius: 7px; text-align: left; margin: 10px;">
  <md-card-title class="cardTitle hidden-mobile">{{unitName}} Inventory</md-card-title>
  <md-card class="innerCard">

      <md-card-title class="hidden-mobile">To Do: Inventory Takings</md-card-title>
    <md-card-header class="hidden-mobile">      <material-datepicker [(date)]="selectedDate" (onSelect)="dateChanged()">
    </material-datepicker></md-card-header>
    <md-card-content>
      <md-card style="overflow: auto;">
        <md-card-content>
          <table class="table table-responsive">
            <thead style="width:100%">
              <tr>
                <th style="width:30px">#</th>
                <th [ngStyle]="{'width.px': noButton ? 0 : 24}">&nbsp;</th>
                <th class="name">Product</th>
                <th>Code</th>
                <th>Unopened Packs</th>
                <th  class="hidden-mobile">Last Count</th>
              </tr>
            </thead>
            <tbody class="scrollable" *ngIf="inventoryModel !== null && inventoryModel !== undefined && inventoryModel._inventories.length > 0">
              <tr *ngFor="let invItem of inventoryModel._inventories;let i = index" [@itemState]="invItem.state"
                  [ngClass]="[invItem.unopenedPack ? 'counted': '', (!invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                  <td class="number">{{i+1}}</td>
                  <td [ngStyle]="{'width.px': noButton ? 0 : 24}" *ngIf="invItem.shouldIncluded">&nbsp;</td>
                  <td *ngIf="!invItem.shouldIncluded">
                    <button md-mini-fab (click)="removeInventoryItem(invItem)"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </td>
                <td class="name">
                  {{invItem.productName}}
                </td>
                  <td>
                    {{invItem.productCode}}
                  </td>
                <td>
                  <md-input-container>
                    <input mdInput type="number" [(ngModel)]="invItem.unopenedPack" placeholder="Packs"
                           (ngModelChange)="checkDisability(invItem)"
                           [disabled]="!isSameDates"
                           min="0"/>
                  </md-input-container>
                </td>
                  <td *ngIf="invItem.lastCount !== null" class="hidden-mobile"
                                [ngClass]="[(this.isSameDates && !invItem.shouldCountToday && invItem.shouldIncluded) ? 'warnColoring' : 'normalColoring']">
                    {{invItem.lastCount | date: 'd MMM yy'}}
                  </td>
                  <td *ngIf="invItem.lastCount === null">
                    -
                  </td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <tr *ngIf="isSameDates">
              <td class="buttonItem">&nbsp;</td>
              <td class="inputItem">
                <md-input-container style="min-width:400px">
                  <input mdInput type="text" class="pnc" placeholder="Product name / code" [mdAutocomplete]="auto" [formControl]="productNameCodeCtrl" #autoNameCode (focus)="showProductList()"/>
                  <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let nameCode of filteredNameCode | async" [value]="nameCode">
                      {{nameCode}}
                    </md-option>
                  </md-autocomplete>
                </md-input-container>
              </td>
              <td class="inputItem" colspan="2">
                <md-input-container>
                  <input mdInput type="number" placeholder="Unopened Packs" #unopenedPack/>
                </md-input-container>
              </td>
              <td style="min-width: 80px !important;" class="column">
              </td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
    </md-card-content>
    <md-card-content>
      <button md-raised-button class="ButtonStyle"
              *ngIf="isSameDates"
              [(disabled)]="submitShouldDisabled || waiting"
              (click)="submitInventories()">Submit</button>
    </md-card-content>
  </md-card>
</md-card>
