<span *ngIf="!isOverridden">Inventory Rules By Default:</span>
<span *ngIf="isOverridden">Inventory Rules Overrides:</span>
<br/>
<md-card>
  <div class="errorMessage">{{showMessage}}</div>
  <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center top" fxLayoutAlign.xs="start start">
    <div class="flex-item" style="margin: 5px;" fxFlex="30%">
      <div class="flex-container" fxLayout="column" fxLayoutAlign="left top">
        <div class="flex-item" style="margin-left: 5px;" fxFlex="20%">
          <md-card-content>
            <md-input-container>
              <input mdInput min="0" class="numInput" type="number" placeholder="Min Qty" [(ngModel)]="minQty" (ngModelChange)="minChange()" id="minQty" min="0" maxlength="5"/>
            </md-input-container>
            <md-input-container>
              <input mdInput min="0" class="numInput" type="number" placeholder="Max Qty" [(ngModel)]="maxQty" (ngModelChange)="maxChange()" id="maxQty" maxlength="5"/>
            </md-input-container>
          </md-card-content>
        </div>
        <div class="flex-item" fxFlex="80%">
          <md-card-content>
            <span>Coefficients</span>
            <md-card>
              <md-card-content>
                <div>
                  <br/>
                  <div *ngFor="let day of days">
                    <md-input-container>

                      <input mdInput min="0" class="numInput" type="number" placeholder="{{day}}" [(ngModel)]="coefficients[day]" (ngModelChange)="coeffChange()" id="{{day}}"/>
                    </md-input-container>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </md-card-content>
        </div>
      </div>
    </div>
    <div class="flex-item" style="margin: 5px;" fxFlex="70%">
      <md-card-content>
        <span>Inventory Counting Recursion</span>
        <md-card>
          <md-card-content>
            <app-rrule [RRuleStr]="recursionRule" (RRuleStrChange)="recurChange($event)"></app-rrule>
          </md-card-content>
        </md-card>
      </md-card-content>
    </div>
  </div>
</md-card>
