<md-card style="background-color: #607D8B; border-radius: 7px; text-align: left; margin: 10px;">
  <md-card-title class="cardTitle">Inventory Rules Overrides</md-card-title>
  <div *ngIf="!isAdmin">
    <md-card class="innerCard">
      <md-card-content>
        <md-input-container>
          <input mdInput type="text" class="pnc" placeholder="Product name/code" [mdAutocomplete]="auto" [formControl]="productModelCtrl" #autoNameCode/>
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let nameCode of filteredNameCode | async" [value]="nameCode">
              {{nameCode}}
            </md-option>
          </md-autocomplete>
        </md-input-container>
      </md-card-content>
      <app-counting-rule *ngIf="isFiltered"
                         [isOverridden]="true"
                         [(minQty)]="filteredProductModel._product.minQty"
                         [(maxQty)]="filteredProductModel._product.maxQty"
                         [(coefficients)]="filteredProductModel._product.coefficients"
                         [(recursionRule)]="filteredProductModel._product.countingRecursion"
                         (hasError)="countingRuleErrorHandler($event)"
                         (changed)="checkDisabilityStatus()">
      </app-counting-rule>
    </md-card>
  </div>
  <md-tab-group *ngIf="isAdmin" class="materialTab" [(selectedIndex)]="selectedIndex" (selectChange)="changedTab()">
    <md-tab *ngFor="let branch of branchList" label="{{branch.name}}">
      <md-card class="innerCard">
        <md-card-content>
          <md-input-container>
            <input mdInput type="text" class="pnc" placeholder="Product name/code" [mdAutocomplete]="auto" [formControl]="productModelCtrl" #autoNameCode/>
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let nameCode of filteredNameCode | async" [value]="nameCode">
                {{nameCode}}
              </md-option>
            </md-autocomplete>
          </md-input-container>
        </md-card-content>
        <app-counting-rule *ngIf="isFiltered"
                           [isOverridden]="true"
                           [(minQty)]="filteredProductModel._product.minQty"
                           [(maxQty)]="filteredProductModel._product.maxQty"
                           [(coefficients)]="filteredProductModel._product.coefficients"
                           [(recursionRule)]="filteredProductModel._product.countingRecursion"
                           (hasError)="countingRuleErrorHandler($event)"
                           (changed)="checkDisabilityStatus()">
        </app-counting-rule>
      </md-card>
    </md-tab>
  </md-tab-group>
  <br/>
  <md-card-content>
    <button md-raised-button *ngIf="isFiltered && !filteredProductModel._product.isOverridden" class="ButtonStyle addBtn" (click)="doClickedAction(ae.add)" [(disabled)]="addIsDisable">Add</button>
    <button md-raised-button *ngIf="isFiltered && filteredProductModel._product.isOverridden" class="ButtonStyle updateBtn" (click)="doClickedAction(ae.update)" [(disabled)]="updateIsDisable">Update</button>
    <button md-raised-button *ngIf="isFiltered && filteredProductModel._product.isOverridden" class="ButtonStyle deleteBtn" (click)="doClickedAction(ae.delete)" [(disabled)]= "deleteIsDisable">Delete</button>
  </md-card-content>
</md-card>
