/* You can add global styles to this file, and also import other style files */
a{text-decoration: none;}
a:focus{text-decoration: none;text-weight:bold;}
a:hover{text-decoration: none;text-weight:bold;}
.outerCard{
  background-color: #607D8B !important; border-radius: 7px; text-align: left; margin: 10px;
}
.innerCard{
background-color:antiquewhite !important; padding: 10px;
}

.innerCardOverride{
  background-color:white !important; padding: 10px;
}

.FormTitleStyle{
  margin-top: 15px;
  margin-left: 15px;
  font-weight: bold;
  display:inline-block;
  font-size:120%;
}
.cardTitle{
  color:beige;
}
.snackBar{
  background-color: #283440 !important;
  border-radius: 7px;
}

.warnBar{
  background-color: darkred !important;
  border-radius: 7px;
}

.mat-tab-label{
  background: antiquewhite;
}

.mat-tab-label:focus{
  background: white !important;
}

.mat-tab-label-active{
  opacity:1 !important;
}
.mat-radio-focused{
  background-color: antiquewhite;
}
.mat-button-toggle:hover{
  background-color: antiquewhite;
}

.deliveryItem > figure {
  justify-content: inherit !important;
}

.deliveryItem{
  /*width: 100px !important;*/
}

@media screen {
  #printpage, #printpage * {
    display:none;
  }
}
@media print {
  body *{
    visibility:hidden;
    background: transparent;
    -webkit-print-color-adjust: exact !important;
  }

  #printpage, #printpage *{
    visibility:visible;
    -webkit-print-color-adjust: exact !important;
  }

  #printpage{
    position:absolute;
    left:0;
    top:0;
  }
}

.title{
  font-size: 2em;
}

.subtitle{
  font-size: 2em;
  float: right !important;
  display: block !important;
}

.titleBox{
  border-style: none;
  border-bottom-style: double;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.box{
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;

  border-color: black;
  border-width: 1px;
}

.normal{
  background-color: white !important;
}

.highlight{
  background-color: #adadad !important;
}
