<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item title" fxFlex="80">Burgista Bros - {{unitName_title}}</div>
  <div style="float: right;" class="flex-item subtitle" fxFlex="20">{{currentDate | date: 'dd MMMM yyyy'}}</div>
</div>
<div class="title" style="font-weight: bold">{{unitName_subTitle}} Delivery Note</div>

<div *ngIf="!isOverallPrint">
  <div class="titleBox">
    <md-grid-list [cols]="7" rowHeight="50px">
      <md-grid-tile [colspan]="1" [rowspan]="1">#</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Product Code</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Product Name</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Real Delivery</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Current Stock</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Stock After Delivery</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Stock surplus/deficit</md-grid-tile>
    </md-grid-list>
  </div>
  <div>
    <md-grid-list [cols]="7" rowHeight="50px">
      <div *ngFor="let item of itemList">
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.rowNum}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.productCode}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.productName}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.realDelivery}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.currentStock}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.stockAfterDelivery}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.stockSurplusDeficit}}</md-grid-tile>
      </div>
    </md-grid-list>
  </div>
</div>
<div *ngIf="isOverallPrint">
  <div class="titleBox">
    <md-grid-list [cols]="5 + receivers.length" rowHeight="50px">
      <md-grid-tile [colspan]="1" [rowspan]="1">#</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Product Code</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Product Name</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">Total Delivery</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let rcvName of receivers">{{rcvName}}</md-grid-tile>
      <md-grid-tile [colspan]="1" [rowspan]="1">TotalStock surplus/deficit</md-grid-tile>
    </md-grid-list>
  </div>
  <div>
    <md-grid-list [cols]="5 + receivers.length" rowHeight="50px">
      <div *ngFor="let item of itemList">
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.rowNum}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.productCode}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.productName}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.totalDelivery}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1" *ngFor="let rcvName of receivers">{{item[rcvName]}}</md-grid-tile>
        <md-grid-tile class="box" [colspan]="1" [rowspan]="1">{{item.totalStockSurplusDeficit}}</md-grid-tile>
      </div>
    </md-grid-list>
  </div>
</div>
<br/>
<div>
  <button md-raised-button class="ButtonStyle" (click)="dialogRef.close('print')">Print</button>
  <button md-raised-button class="ButtonStyle" (click)="dialogRef.close('cancel')">Cancel</button>
</div>
