<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item title" fxFlex="80">Siirgista Bros - {{unitName_title}}</div>
  <div style="float: right;" class="flex-item subtitle" fxFlex="20">{{currentDate | date: 'dd MMMM yyyy'}}</div>
</div>
<div class="title" style="font-weight: bold">{{unitName_subTitle}} Delivery Note</div>

<div *ngIf="!isOverallPrint">
  <table class="table">
    <thead class="titleBox">
      <tr>
      <td>#</td>
      <td>Product Code</td>
      <td>Product Name</td>
      <td>Real Delivery</td>
      <td>Current Stock</td>
      <td>Stock After Delivery</td>
      <td>Min Delivery</td>
      <td>Days to Next Counting</td>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList;let i=index">
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{i + 1}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.productCode}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.productName}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.realDelivery}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.currentStock===null ? 'NA' : item.currentStock}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.stockAfterDelivery}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.minDelivery}}</td>
      <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.daysToNext}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isOverallPrint">
  <table class="table">
    <thead class="titleBox">
      <tr>
        <td>#</td>
        <td>Product Code</td>
        <td>Product Name</td>
        <td>Total Delivery</td>
        <td *ngFor="let rcvName of receivers">{{rcvName}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList;let i = index">
        <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{i + 1}}</td>
        <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.productCode}}</td>
        <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.productName}}</td>
        <td class="box" [style.background]="i%2 ? 'silver' : 'unset'">{{item.totalDelivery}}</td>
        <td class="box" [style.background]="i%2 ? 'silver' : 'unset'" *ngFor="let rcvName of receivers">{{item[rcvName]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<!--<div style="color: darkred" *ngIf="showWarningMessage">-->
  <!--<div>-->
    <!--<label>Warning: Hitting print button will finalised delivery numbers.</label>-->
  <!--</div>-->
  <!--<div>-->
    <!--<label>Please make sure all values are correct</label>-->
  <!--</div>-->
<!--</div>-->
<br/>
<div>
  <button md-raised-button class="ButtonStyle" (click)="dialogRef.close('print')">Print</button>
  <button md-raised-button class="ButtonStyle" (click)="dialogRef.close('cancel')">Cancel</button>
</div>
