.notEqualValues{
  background-color: antiquewhite;
}

.equalValues{
}

.warnColoring{
  color: darkred;
}

.normalColoring{
  color: black;
}

.waiting{
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  align-content: center !important;
}
